<div class="mat-typography app-frame mat-app-background">
   <mat-tab-group (selectedTabChange)="on_tab_click($event.index)" [selectedIndex]="selectedIndex">
	   <mat-tab label="target">
		   <app-targets></app-targets>
	   </mat-tab>
	   <mat-tab label="sequences">
		   <p>another tab</p>
	   </mat-tab>
	   <mat-tab label="configurations">
		   <p>another tab</p>
	   </mat-tab>
	   <mat-tab label="observing blocks">
           <img src="assets/spanish.jpeg"
           alt="Place image title">
	   </mat-tab>
   </mat-tab-group>
</div>