<div class="mat-typography app-frame mat-app-background">
   <mat-tab-group (selectedTabChange)="on_tab_click($event.index)" [selectedIndex]="selectedIndex">
	   <mat-tab label="target">
		   <app-targets></app-targets>
	   </mat-tab>
	   <mat-tab label="sequences">
		   <app-targets></app-targets>
	   </mat-tab>
	   <mat-tab label="configurations">
		   <app-targets></app-targets>
	   </mat-tab>
	   <mat-tab label="observing blocks">
		   <app-targets></app-targets>
	   </mat-tab>
	   <mat-tab label="">
		   <app-targets></app-targets>
	   </mat-tab>
   </mat-tab-group>
</div>